/* ------ CHART DRAW ---------- */

.chart {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.chart svg {
  fill: none;
}

/* GREY CIRCLE */

@-webkit-keyframes drawgrey {
  0% {
    stroke-dasharray: 0 690;
    stroke-dashoffset: 135;
    stroke: #f3f3f3;
  }
  100% {
    stroke-dasharray: 620 70;
    stroke-dashoffset: 135;
    stroke: #d7d7d78f;
  }
}
@keyframes drawgrey {
  0% {
    stroke: #f3f3f3;
    stroke-dasharray: 0 690;
    stroke-dashoffset: 135;
  }
  100% {
    stroke-dasharray: 620 70;
    stroke-dashoffset: 135;
    stroke: #d7d7d78f;
  }
}

/* GREEN CIRCLE */
@-webkit-keyframes drawgreen {
  0% {
    stroke: var(--green);
    stroke-dasharray: 0 690;
    stroke-dashoffset: 135;
    stroke-width: 8;
  }

  100% {
    stroke: var(--green);
    stroke-dasharray: 440 250;
    stroke-dashoffset: 135;
    stroke-width: 8;
  }
}

@keyframes drawgreen {
  0% {
    stroke: var(--green);
    stroke-dasharray: 0 690;
    stroke-dashoffset: 135;
    stroke-width: 8;
  }

  100% {
    stroke: var(--green);
    stroke-dasharray: 440 250;
    stroke-dashoffset: 135;
    stroke-width: 8;
  }
}

/* YELLOW CIRCLE */

@-webkit-keyframes drawyellow {
  0% {
    stroke-dasharray: 0 690;
    stroke-dashoffset: 135;
    stroke-width: 10;
    stroke: var(--yellow);
  }

  100% {
    stroke-dasharray: 220 470;
    stroke-dashoffset: 135;
    stroke-width: 10;
    stroke: var(--yellow);
  }
}

@keyframes drawyellow {
  0% {
    stroke-dasharray: 0 690;
    stroke-dashoffset: 135;
    stroke-width: 10;
    stroke: var(--yellow);
  }

  100% {
    stroke-dasharray: 220 470;
    stroke-dashoffset: 135;
    stroke-width: 10;
    stroke: var(--yellow);
  }
}

.grey-circle {
  -webkit-animation-name: drawgrey;
  animation-name: drawgrey;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  stroke: #d7d7d78f;
  stroke-width: 6;
  stroke-dasharray: 620 70;
  stroke-dashoffset: 135;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  stroke-linecap: round;
}

.green-circle {
  -webkit-animation-name: drawgreen;
  animation-name: drawgreen;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  stroke: transparent;
  stroke-dasharray: 0 690;
  stroke-dashoffset: 135;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  stroke-linecap: round;
}

.yellow-circle {
  -webkit-animation-name: drawyellow;
  animation-name: drawyellow;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
  stroke: transparent;
  stroke-dasharray: 0 690;
  stroke-dashoffset: 135;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  stroke-linecap: round;
}
