/* ------ CHART DRAW ---------- */

@keyframes drawgrey {
  0% {
    stroke-dasharray: 0 690;
    stroke-dashoffset: 135;
  }

  100% {
    stroke-dasharray: 620 70;
    stroke-dashoffset: 135;
  }
}

@keyframes drawgreen {
  0% {
    stroke-dasharray: 0 690;
    stroke-dashoffset: 135;
  }

  100% {
    stroke-dasharray: 440 250;
    stroke-dashoffset: 135;
  }
}

@keyframes drawyellow {
  0% {
    stroke-dasharray: 0 690;
    stroke-dashoffset: 135;
  }

  100% {
    stroke-dasharray: 220 470;
    stroke-dashoffset: 135;
  }
}

.chart {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.chart svg {
  fill: none;
}

.grey-circle {
  animation-name: drawgrey;
  animation-duration: 2s;
  stroke: #d7d7d79e;
  stroke-width: 6;
  stroke-dasharray: 620 70;
  stroke-dashoffset: 135;
  animation-fill-mode: forwards;
  stroke-linecap: round;
}

.green-circle {
  animation-name: drawgreen;
  animation-duration: 2s;
  animation-delay: 1s;
  stroke: var(--green);
  stroke-width: 8;
  stroke-dasharray: 0 690;
  stroke-dashoffset: 135;
  animation-fill-mode: forwards;
  stroke-linecap: round;
}

.yellow-circle {
  animation-name: drawyellow;
  animation-duration: 1s;
  animation-delay: 2s;
  stroke: var(--yellow);
  stroke-width: 10;
  stroke-dasharray: 0 690;
  stroke-dashoffset: 135;
  animation-fill-mode: forwards;
  stroke-linecap: round;
}
