.ratings {
  width: 226px;
  margin-left: auto;
  color: var(--dark-grey);
  font-size: 0.75rem;
  border-spacing: 10px;
  background-color: white;
}

.ratings td:not(.ratings__graph) {
  border: none;
}

.ratings__title {
  font-weight: bold;
  vertical-align: top;
}

.ratings__numbers {
  text-align: right;
}

.ratings__percent {
  font-weight: bold;
}

.ratings__people svg {
  fill: var(--light-grey);
  width: 11px;
  height: 11px;
}

.ratings__people span {
  color: var(--light-grey);
}

.ratings__graph {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e7e7e7ea;
  border-radius: 3px;
  background-color: #f9f9f9;
  width: 90px;
  padding-right: 5px;
}

.ratings__type {
  display: flex;
  flex-direction: column;
}

.ratings__type > div.dark {
  height: 26px;
  border-top-left-radius: 3px;
}

.ratings__type > div.light {
  height: 10px;
  opacity: 0.5;
  border-bottom-left-radius: 3px;
}

.ratings__promo > * {
  background-color: var(--green);
}

.ratings__promo .dark {
  width: 31px;
}

.ratings__promo .light {
  width: 29px;
}

.ratings__sceptic > * {
  background-color: var(--yellow);
}

.ratings__sceptic .dark {
  width: 33px;
}

.ratings__sceptic .light {
  width: 27px;
}

.ratings__critic > * {
  background-color: var(--red);
}

.ratings__critic .dark {
  width: 25px;
}

.ratings__critic .light {
  width: 30px;
}
